{
	"presets": ["next/babel"],
	"env": {
		"production": {
			"plugins": ["transform-remove-console"]
		}
	},
	"plugins": [
		["@babel/plugin-proposal-class-properties"],
		["inline-react-svg"],
		[
			"import",
			{
				"libraryName": "antd",
				"style": true
			}
		],
		[
			"module-resolver",
			{
				"root": "./",
				"extensions": [".js"],
				"alias": {
					"components": "./components",
					"utils": "./utils",
					"mock": "./mock",
					"partials": "./partials",
					"styles": "./styles",
					"localization": "./localization",
					"hooks": "./hooks",
					"config": "./config"
				},
				"cwd": "packagejson"
			}
		]
	]
}
