:root {
	--primary-color: #8C77F1;
	--secondary-color: #FFBA54;
	--background-color: #1a1a21;
	--foreground-color: #CFCED9;
	--light-gray-color: #A3A3A9;
	--gray-color: #4B4A53;
	--black-color: #33323E;
}
