// Variables:
$width-container: 75rem;

.container {
	width: $width-container;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 var(--gap);
}

.container-fluid,
.container {
	margin-right: auto;
	margin-left: auto;
}

.container-fluid {
	padding-right: 80px;
	padding-left: 80px;
	&.l-0 {
		padding-left: 0;
	}
	&.r-0 {
		padding-right: 0;
	}
	@media only screen and (min-width: 48rem) and (max-width: 72rem) {
		padding-right: 40px;
		padding-left: 40px;
	}
	@media only screen and (max-width: 48rem) {
		padding-right: 20px;
		padding-left: 20px;
	}
}
